# Fishnet service, create a virtualenv, put this file in /etc/systemd/system
# and edit the paths, CPU/RAM and API key settings, below.
[Unit]
Description=Fishnet Instance
After=network.target

[Service]
User=fishnet
Group=fishnet
WorkingDirectory=/home/fishnet
Environment=PATH="/usr/local/bin:/usr/bin:/bin"
ExecStart=/bin/bash -c 'cd /home/fishnet; source fishnet/bin/activate; python -m fishnet --cores 2 --memory 1024 --apikey FOO'
Restart=always

[Install]
WantedBy=multi-user.target
